
@{
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}
<div>
    <div class="paddingTop"></div>
</div>
<div id="imgPart">
    <div class="img"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs hidden-sm">
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Things to do</a>
            </li>
            <li>
                <a href="">Walking and Hiking</a>
            </li>
        </ul>
    </div>
</div>
<div id="info">
    <div class="col-md-12">
        <h1>Walking and hiking in Azerbaijan</h1>
        <div class="col-md-12">
            <div class="col-md-1 hidden-sm"></div>
            <div class="col-md-10 col-sm-12">
                <p>Walking breaks are soaring in popularity with British holidaymakers, enticed by the ease of Austria's unofficial national pastime. Well signposted trails web across valleys and mountain tops, with many routes offering lodge-to-lodge connections whereby you do it on foot while your luggage is moved by your hosts.</p>
            </div>
            <div class="col-md-1 hidden-sm"></div>
        </div>
        <div class="col-md-12 myLine hidden-xs ">
            <div class="line"></div>
        </div>
    </div>
</div>

<!-- <div id="video"></div> -->

<div id="holidays">
    <div class="maxWidth">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/02.jpg" class="img-responsive" alt="">
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h4>Hiking and cycling holidays</h4>
                <div class="line"></div>
                <h3>Austrian trails</h3>
                <p>It’s amidst a landscape dotted by mountains, valleys, lakes, and forests that an Austrian summer holiday plays out in grand style. Recreation-wise, the choices are plentiful with hiking and biking among the most popular. Trails here lead seemingly without end, with options for all preferences and ability. Along the way, prepare for delightful surprises, unexpected discoveries, and generous hosts pleased to point you in the right direction.</p>
                <p>Explore a collection of holiday experiences and accommodation that sum up some of the best on foot and on two wheels. Happy trails to you.</p>
            </div>

        </div>
    </div>

</div>
<div id="moreWalking">
    <div class="maxWidth">
        <div class="row">
            <h3>
                More walking and hiking in Austria
            </h3>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/10.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/13.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/14.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 myHidden1">
                <div class="img-hover">
                    <img src="images/15.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
        </div>
        <button class="loadMore1">Load more</button>
    </div>
</div>

<div id="destination">
    <div class="maxWidth">
        <div class="row">
            <h3>
                Popular walking and hiking destinations
            </h3>
        </div>
        <div class="row photos">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/04.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/05.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
        </div>


        <button class="loadMore">Load more</button>
    </div>
</div>

<div id="moreWalking">
    <div class="maxWidth">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/10.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/13.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/14.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 myHidden1">
                <div class="img-hover">
                    <img src="images/15.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
        </div>
        <button class="loadMore1">Load more</button>
    </div>
</div>

<div id="moreWalking">
    <div class="maxWidth">
        <div class="row">
            <h3>
                More walking and hiking in Austria
            </h3>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/10.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/13.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/14.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 myHidden1">
                <div class="img-hover">
                    <img src="images/15.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
        </div>
        <button class="loadMore1">Load more</button>
    </div>
</div>


<div id="destination">
    <div class="maxWidth">
        <div class="row">
            <h3>
                Popular walking and hiking destinations
            </h3>
        </div>
        <div class="row photos">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/04.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/05.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
        </div>


        <button class="loadMore">Load more</button>
    </div>
</div>

<div id="moreWalking">
    <div class="maxWidth">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/10.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/13.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/14.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 myHidden1">
                <div class="img-hover">
                    <img src="images/15.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>
                        Hiking along rivers & lakes
                    </h4>
                    <p>
                        Austria's hiking trails provide many opportunities to enjoy natural waters along the way, from rivers and lakes to gorges and waterfalls.

                    </p>
                    <a href="">
                        Waterside walks
                    </a>
                </div>
            </div>
        </div>
        <button class="loadMore1">Load more</button>
    </div>
</div>


<!-- <div class="search"></div> -->


<div id="responsiveSlider">
    <div class="maxWidth">
        <div class="row">
            <h3>
                This may also interest you
            </h3>
        </div>
        <div class="mainPart">

            <div class="owl-carousel owl-theme">
                <div class="items img-hover">
                    <img src="images/11.jpg" alt="">

                </div>
                <div class="items img-hover">
                    <img src="images/16.jpg" alt="">
                </div>
                <div class="items img-hover">
                    <img src="images/17.jpg" alt="">
                </div>
                <div class="items img-hover">
                    <img src="images/18.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </div>

</div>

