@{
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}
<div>
    <div class="paddingTop"></div>
</div>
<div id="imgPartCity">
    <div class="img"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs hidden-sm">
        <div class="maxWidth">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Where to Go</a>
                </li>
                <li>
                    <a href="">Cities</a>
                </li>
                <li>
                    <a href="">Baku</a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div id="whereToGo">
    <div class="maxWidth">
        <div class="row contentCity">
            <h1>Salzburg</h1>
            <div class="col-md-12">
                <div class="col-md-1 hidden-sm"></div>
                <div class="col-md-10 col-sm-12">
                    <p>Salzburg, the birthplace of Wolfgang Amadeus Mozart, is dominated by churches, castles and palaces. Its picturesque old town is a UNESCO World Heritage Site.</p>
                </div>
                <div class="col-md-1 hidden-sm"></div>
            </div>
            <div class="col-md-12 myLine hidden-xs ">
                <div class="liner"></div>
            </div>


            <div class="maxWidthCountry ">
                <div class="aboutCountry ">
                    <p>
                        <a href="#" target="_blank" class="tisExternalLink">Hohensalzburg Fortress</a>, the landmark of Salzburg, is Central Europe’s largest intact fortress and offers
                        fantastic views of the city. Visit the Princely Residence, a magnificent early baroque edifice with splendid halls and a gallery featuring European paintings dating between the 16th and 19th century. The nearby vast
                        <strong>Salzburg Dom is without doubt the main attraction of the old town</strong>. Inside there is the Romanesque font where <a href="http://www.austria.info/uk/about-austria/mozart-wolfgang-amadeus-1756-1791-1135545.html">Mozart</a>                                    was baptized.
                    </p>
                </div>
                <div class="aboutCountry ">
                    <p>
                        <a href="#" target="_blank" class="tisExternalLink">Hohensalzburg Fortress</a>, the landmark of Salzburg, is Central Europe’s largest intact fortress and offers
                        fantastic views of the city. Visit the Princely Residence, a magnificent early baroque edifice with splendid halls and a gallery featuring European paintings dating between the 16th and 19th century. The nearby vast
                        <strong>Salzburg Dom is without doubt the main attraction of the old town</strong>. Inside there is the Romanesque font where <a href="http://www.austria.info/uk/about-austria/mozart-wolfgang-amadeus-1756-1791-1135545.html">Mozart</a>                                    was baptized.
                    </p>
                </div>
                <div class="aboutCountry ">
                    <p>
                        <a href="#" target="_blank" class="tisExternalLink">Hohensalzburg Fortress</a>, the landmark of Salzburg, is Central Europe’s largest intact fortress and offers
                        fantastic views of the city. Visit the Princely Residence, a magnificent early baroque edifice with splendid halls and a gallery featuring European paintings dating between the 16th and 19th century. The nearby vast
                        <strong>Salzburg Dom is without doubt the main attraction of the old town</strong>. Inside there is the Romanesque font where <a href="http://www.austria.info/uk/about-austria/mozart-wolfgang-amadeus-1756-1791-1135545.html">Mozart</a>                                    was baptized.
                    </p>
                </div>
                <div class="aboutCountry ">
                    <p>
                        <a href="#" target="_blank" class="tisExternalLink">Hohensalzburg Fortress</a>, the landmark of Salzburg, is Central Europe’s largest intact fortress and offers
                        fantastic views of the city. Visit the Princely Residence, a magnificent early baroque edifice with splendid halls and a gallery featuring European paintings dating between the 16th and 19th century. The nearby vast
                        <strong>Salzburg Dom is without doubt the main attraction of the old town</strong>. Inside there is the Romanesque font where <a href="http://www.austria.info/uk/about-austria/mozart-wolfgang-amadeus-1756-1791-1135545.html">Mozart</a>                                    was baptized.
                    </p>
                </div>
                <div class="aboutCountry ">
                    <p>
                        <a href="#" target="_blank" class="tisExternalLink">Hohensalzburg Fortress</a>, the landmark of Salzburg, is Central Europe’s largest intact fortress and offers
                        fantastic views of the city. Visit the Princely Residence, a magnificent early baroque edifice with splendid halls and a gallery featuring European paintings dating between the 16th and 19th century. The nearby vast
                        <strong>Salzburg Dom is without doubt the main attraction of the old town</strong>. Inside there is the Romanesque font where <a href="http://www.austria.info/uk/about-austria/mozart-wolfgang-amadeus-1756-1791-1135545.html">Mozart</a>                                    was baptized.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>