
@{
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}

<div>
    <div class="paddingTop"></div>
</div>
<div id="imgPartCousine">
    <div class="img"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs hidden-sm">
        <div class="maxWidth">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Where to Go</a>
                </li>
                <li>
                    <a href="">Cities</a>
                </li>
                <li>
                    <a href="">Baku</a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div id="infoPage">
    <div class="col-md-12 contentCity">
        <h1>Austrian Cuisine</h1>
        <div class="col-md-12">
            <div class="col-md-1 hidden-sm"></div>
            <div class="col-md-10 col-sm-12">
                <p>Delicious traditional meals and desserts like Kaiserschmarren, Schnitzel and Tafelspitz can be found almost everywhere in Austria. Recreate your favourite dishes at home with our step-by-step recipes.</p>
            </div>
            <div class="col-md-1 hidden-sm"></div>
        </div>
        <div class="col-md-12 myLine hidden-xs ">
            <div class="liner"></div>
        </div>
    </div>
</div>
<div id="destination">
    <div class="maxWidth">
        <div class="row">

            <h3>
                All you need to know
            </h3>
        </div>
        <div class="row photos">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="img/cuisineMeal.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Vanillekipferl</h4>
                    <p>
                        Enjoy an Austrian Christmas atmosphere at home with this wonderfully light cookie.
                    </p>
                    <a href="">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="img/cuisineMeal.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Your Austrian hosts</h4>
                    <p>
                        Austria is a wonderfully uncomplicated place to visit. It is in the heart of Europe, most people speak English, and there is a spectacular combination of cultural and natural attractions. And, like everywhere, there are national peculiarities that you
                        will not find described in standard guidebooks. Which is a pity,
                    </p>
                    <a href="">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
        </div>
        <div class="row photos">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="img/cuisineMeal.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Your Austrian hosts</h4>
                    <p>
                        Austria is a wonderfully uncomplicated place to visit. It is in the heart of Europe, most people speak English, and there is a spectacular combination of cultural and natural attractions. And, like everywhere, there are national peculiarities that you
                        will not find described in standard guidebooks. Which is a pity,
                    </p>
                    <a href="">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 myHidden">
                <div class="img-hover">
                    <img src="img/cuisineMeal.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Your Austrian hosts</h4>
                    <p>
                        Austria is a wonderfully uncomplicated place to visit. It is in the heart of Europe, most people speak English, and there is a spectacular combination of cultural and natural attractions. And, like everywhere, there are national peculiarities that you
                        will not find described in standard guidebooks. Which is a pity,
                    </p>
                    <a href="">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
        </div>
        <div class="row photos ">
            <div class="col-md-6 col-sm-6 col-xs-12 myHidden">
                <div class="img-hover">
                    <img src="img/cuisineMeal.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Your Austrian hosts</h4>
                    <p>
                        Austria is a wonderfully uncomplicated place to visit. It is in the heart of Europe, most people speak English, and there is a spectacular combination of cultural and natural attractions. And, like everywhere, there are national peculiarities that you
                        will not find described in standard guidebooks. Which is a pity,
                    </p>
                    <a href="">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 myHidden">
                <div class="img-hover">
                    <img src="img/cuisineMeal.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Your Austrian hosts</h4>
                    <p>
                        Austria is a wonderfully uncomplicated place to visit. It is in the heart of Europe, most people speak English, and there is a spectacular combination of cultural and natural attractions. And, like everywhere, there are national peculiarities that you
                        will not find described in standard guidebooks. Which is a pity,
                    </p>
                    <a href="">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
        </div>
        <button class="loadMore">Load more</button>
    </div>
</div>