@{
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}
<div>
    <div class="paddingTop"></div>
</div>

<div id="imgPart">
    <div class="img"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs hidden-sm">
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Things to do</a>
            </li>
            <li>
                <a href="">Walking and Hiking</a>
            </li>
        </ul>
    </div>
</div>
<div id="info">
    <div class="col-md-12">
        <h1>Walking and hiking in Azerbaijan</h1>
        <div class="col-md-12">
            <div class="col-md-1 hidden-sm"></div>
            <div class="col-md-10 col-sm-12">
                <p>Walking breaks are soaring in popularity with British holidaymakers, enticed by the ease of Austria's unofficial national pastime. Well signposted trails web across valleys and mountain tops, with many routes offering lodge-to-lodge connections whereby you do it on foot while your luggage is moved by your hosts.</p>
            </div>
            <div class="col-md-1 hidden-sm"></div>
        </div>
        <div class="col-md-12 myLine hidden-xs ">
            <div class="line"></div>
        </div>
    </div>
</div>

<!-- <div class="search"></div> -->

<div id="holidays">
    <div class="maxWidth">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/02.jpg" class="img-responsive" alt="">
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h4>Hiking and cycling holidays</h4>
                <div class="line"></div>
                <h3>Austrian trails</h3>
                <p>It’s amidst a landscape dotted by mountains, valleys, lakes, and forests that an Austrian summer holiday plays out in grand style. Recreation-wise, the choices are plentiful with hiking and biking among the most popular. Trails here lead seemingly without end, with options for all preferences and ability. Along the way, prepare for delightful surprises, unexpected discoveries, and generous hosts pleased to point you in the right direction.</p>
                <p>Explore a collection of holiday experiences and accommodation that sum up some of the best on foot and on two wheels. Happy trails to you.</p>
            </div>

        </div>
    </div>

</div>

<div id="destination">
    <div class="maxWidth">
        <div class="row">
            <h3>
                Popular walking and hiking destinations
            </h3>
        </div>
        <div class="row photos">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/04.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/05.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="destination">
    <div class="maxWidth">
        <div class="row">
            <h3>
                Popular walking and hiking destinations
            </h3>
        </div>
        <div class="row photos">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/04.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/05.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
        </div>
        <div class="row photos">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-hover">
                    <img src="images/06.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 myHidden">
                <div class="img-hover">
                    <img src="images/07.jpg" class="img-responsive" alt="">
                </div>
                <div class="myContent">
                    <h4>Wilder Kaiser</h4>
                    <p>
                        More than 400km of walking paths make the Wilder Kaiser mountain range an absolute gem for hiking holidays.
                    </p>
                    <a href="">
                        Tirol's wild emperor
                    </a>
                </div>
            </div>
        </div>

        <button class="loadMore">Load more</button>
    </div>
</div>





<div id="plan">
    <div class="maxWidth">
        <div class="row">
            <h2>
                Plan your trip with us...
            </h2>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="myContent">
                    <p>
                        Give us a call or chat with us here Monday to Friday from 8am to noon. Outside of our office hours please drop us an email and we'll be happy to answer your questions.
                    </p>
                    <h4>
                        Holiday information
                    </h4>
                    <p>
                        Our holiday experts are here to assist you with your holiday planning. Give us a call from 8am to noon or drop us an email and we'll be happy to answer your questions.
                    </p>
                    <h4>
                        Telephone: 00800 400 200 00*

                    </h4>
                    <a href="">
                        info@austria.info
                    </a>
                    <p>
                        *toll-free; calls from mobile networks may incur charges
                    </p>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="myContent">
                    <h4>Brochures</h4>
                    <p>
                        Download and order free brochures for your holidays in Austria.
                    </p>
                    <a href="">
                        Brochures & Catalogues
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="myContent">
                    <h4>
                        Newsletter
                    </h4>
                    <p>
                        Subscribe to our free monthly e-newsletter and receive great information about Austria.
                    </p>
                    <a href="">
                        Newsletter
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
